body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #ffffff;
    color: #222;
    padding: 0;
    margin: 0;
}

header {
    padding-top: 15px;
    background: #d2006e;
    padding-bottom: 15px; 
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 15px;
}

.logo img {
    height: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 25px;
    margin: 0px 50px 0 0;    
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    transition: color 0.2s;
}

nav a:hover {
    color: #222;
}

.seccion-principal {
    align-items: center;
    color: #ffffff;
    display: flex;
    gap: 20px;
    height:auto;
    background: #160f41;
    justify-content: center;
}

.imagen-container {
    height: 515px;
}
.seccion-principal img {
    height: 515px;
    width: 500px;
    object-fit: cover;
}

h1{
    margin-top: 20px;
    text-align: center;
    color: #d2006e;
}

main {
    max-width: 1100px;
    margin: 30px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

main section{
    margin-right: 20px;
}

main h2, h3 {
    color: #160f41;
    margin-bottom: 15px;
} 

p span{
    color: #ed99c5;
}

aside li{
    margin-bottom: 15px;
}

main ul li::marker {
    color: #d2006e;
}

#presentacion {
    background: #160f41;
    color: #ffffff;
}
#presentacion h1 {
    color: #ed99c5;
    text-align: center;
} 

#contacto h2 {
    color: #d2006e;
    text-align: center;
}

section {
    padding: 30px 25px;
    margin-bottom: 20px;
}


footer {
    background: #160f41;
    color: #fff;
    text-align: center;
    padding: 18px 10px;
    margin-top: 40px;
}

footer .redes-sociales a {
    color: #fff;
    margin: 0 8px;
    text-decoration: none;
    font-weight: 500;
}

footer .redes-sociales a:hover {
    color: #d2006e;
}


@media (max-width: 900px) {
    main {
        grid-template-columns: 1fr;
        gap: 0;
    }
    aside {
        margin-top: 0;
    }
}

@media (max-width: 600px) {
    .logo h1 {
        font-size: 1.3rem;
    }
    main {
        padding: 0 5px;
    }
    section, aside {
        padding: 18px 8px;
    }
    nav ul {
        flex-direction: column;
        gap: 10px;
        margin: 10px 0 0 0;
    }
}